*
!package.json
!package-lock.json
!tsconfig.json
!vite.config.ts
!index.html
!src/**
!server/**
!public/**
!brand/**
!scripts/sync-identity.mjs
!scripts/brand-assets.mjs
!README.md
!CONTRIBUTING.md
!SECURITY.md
!LICENSE
!THIRD_PARTY_NOTICES.md
!docs/**
